<% provide(:title, 'Login') %>
<% if user_signed_in? %>
<div class = "login_form">
		<p class="label_text">Sie sind immer noch angemeldet !</p>
    <p><%= link_to "Zurück", :back, :class => "normal" %></p>
		<p><%= link_to 'Logout', logout_path, method: :delete, :class => :test, :class => "normal" %></p>
</div>

<% else %>
  <%= render 'sessions/login' %>
<% end %>
