<% provide(:title, 'Letzte Läufe - Neuen Lauf eingeben') %>
<%= render partial: 'runs/navigation', locals: {nav_runs: 'active', nav_shoes: '', nav_statistic: '', nav_about: '', nav_contact: ''} %>
<h3>Neuen Lauf eingeben</h3>
<%= render 'form' %>
<%= link_to 'Zurück', runs_path, :class=>"speziell" %>
