<% provide(:title, 'Statistik') %>
<%= render 'navigation_statistic' %>
<h3>Ausgabe</h3>

<div>Errechnete Distanz ist <%= number_with_precision(@summe_distance_calc) %> km</div>
<%= link_to "Zurück zur Statistik", statistic_path, :class => "speziell" %>
