// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.run_form
	{
		background:#F2CD3B;
		border:1px White solid;
    margin: 1.4em 0 1.4em 0;
		padding: 1.5em;
		width:20em;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		box-shadow: 0 0 10px #040307;
	}



#laufstatistik
{
   background-color: #d5eeff;
   padding: 0;
   border: 1px solid #09f;
   margin: 10px;
   width: 40%;
   float: left;
}
#schuhstatistik
{
   background-color: #d5eeff;
   padding: 0;
   border: 1px solid #09f;
   margin: 10px;
   width: 40%;
   float: left;
}

#letzte_laeufe
{
   background-color: #d5eeff;
   padding: 0;
   border: 1px solid #09f;
   margin: 10px;
   clear: both;
}
.block_1
{
   background-color: #cccccc;
   padding: 0;
   border: 1px solid #09f;
   margin: 10px;
   width: 40%;
   float: left;
}
.block_1
{
   background-color: #cccccc;
   padding: 5px;
   border: 1px solid #09f;
   margin: 10px;
   width: 40%;
   float: left;
}
