// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ym-col1 {
	width: 30%;
	border: 1px solid red;
 } /* sidebar */
.ym-col3 {
	margin-left: 5%;
	margin-right: 0;
	border: 1px solid red;
 } /* content */

#laufstatistik
{
   background-color: #d5eeff;
   padding: 0;
   border: 1px solid #09f;
   margin: 10px;
   width: 40%;
   float: left;
}
#schuhstatistik
{
   background-color: #d5eeff;
   padding: 0;
   border: 1px solid #09f;
   margin: 10px;
   width: 40%;
   float: left;
}

#letzte_laeufe
{
   background-color: #d5eeff;
   padding: 0;
   border: 1px solid #09f;
   margin: 10px;
   width: 50%;
   clear: both;
}
.block_1
{
   background-color: #cccccc;
   padding: 0;
   border: 1px solid #09f;
   margin: 10px;
   width: 40%;
   float: left;
}
.block_1
{
   background-color: #cccccc;
   padding: 5px;
   border: 1px solid #09f;
   margin: 10px;
   width: 40%;
   float: left;
}
