<% provide(:title, 'Schuhverwaltung - Schuh bearbeiten') %>
<%= render partial: 'runs/navigation', locals: {nav_runs: '', nav_shoes: 'active', nav_statistic: ''} %>
<h3>Schuh bearbeiten</h3>
<%= render 'form' %>
<%= link_to 'Zurück', :back, :class => "speziell" %>
